<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Update Account</title>
</head>
<body>
<header>
                        <button class="buybtn" onclick="history.back()">
                 Go Back
             </button>
            
<a href='account' ><button class="loginbtn">{{current_user.firstname}} {{current_user.lastname}} </button></a>
                <h2>Account</h2>

        </header>
        <section>
            <div class="container">
                <p><img src="{{url_for('static', filename='css/profiles/' +user.image_file)}}"/>
                           </p>

                <p>{{user.username}} {{user.firstname}} {{user.lastname}}</p>


                <div class="form-container">
            <form method = 'POST' action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <fieldset>
                            <p><img src="{{url_for('static', filename='css/images/profiles/' + current_user.image_file)}}"/>
                           </p>


                           <div class="form-group">
                                {{form.username.label}}
                                {{form.username(class="form-control")}}
                                {% for error in form.username.errors %}
                                 <small class="form-text text-danger">{{ error }}</small>
                               {% endfor %}
                            </div>


                            <div class="form-group">
                                {{ form.Email.label }}
                                {{ form.Email(class="form-control") }}
                                {% for error in form.Email.errors %}
                                  <small class="form-text text-danger">{{ error }}</small>
                                {% endfor %}
                              </div>

                            <div class = "form-group">
                                {{form.picture.label}}
                                {{form.picture(class="form-control")}}
                                {% for error in form.picture.errors %}
                                 <small class="form-text text-danger">{{ error }}</small>
                               {% endfor %}
                            </div>


                            <div>
                            {{form.submit(class='btn')}}
                        </div>
            </fieldset>
            </form>
                </div>
            </div>
        </section>

   <footer>
     <p>copyright&COPY; Pi-Tech Inc&TRADE; 2024
     </p>
</footer>

</body>
</html>