<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style2.css')}}">

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <title>
            Posts
        </title>

    </head>

    <body>

        <header>
            <nav class="navigation">
                <h1>
                    <img src="{{url_for('static',filename='css/img/R_G.gif')}}"/>
                </h1>

                 <h2>Business Posts</h2>
            </nav>
            <div class="logo">
            <a href='account' >
                <img class="image-top" src="{{url_for('static', filename='css/profiles/' + current_user.image_file)}}"/>
                <button class="loginbtn">

                {{current_user.firstname}} {{current_user.lastname}}
            </button>
            </a>

            </div>

        </header>


        <section>

            <section>
                <div class="cart-wrapper">


                <h2>Shopping Cart for {{user.firstname}} {{user.lastname}}</h2></h2>

                {% for item in cart_list%}

                       <p><strong>Name: {{item.product_name}}</strong></p>

                       <p><span>Price: M{{item.price}}</span></p>
                       <p><span>Quantity: {{item.quantity}}</span></p>
                       <p><span> Total: M{{item.calculate_total() }}</span></p>

                       <form action="{{url_for('remove_from_cart', item_id=item.id) }}" method="post">
                           {{form.csrf_token}}
                           <button type="submit">Remove from Cart</button>
                       </form>
                    </hr>


                {% endfor %}
                <p class="total_price">Total Price: M{{ total_price }}</p>

            </div>

                    </div>
            </section>
        </section>

<footer>

    <p>copyright&COPY; Pi-Tech Inc&TRADE;2024</p>
</footer>
    </body>

</html>