<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Orders - Pharmacy</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">

</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="logo">
            <a href="/">Vitalway Pharmacy</a>
        </div>
        <div class="user-actions">
        <button  class="btn chat-btn" onclick="window.location.href='{{ url_for('main.home')}}'">
            Home</button>

                        <p>Points: {{current_user.loyalty_points}}</p>

        </div>
    </header>

    <!-- Orders Overview Section -->
    <main>
                <section class="manage-orders">
            <h2>Manage Orders</h2>
                    <div class="order-filters">
            <button type="submit" class="btn chat-btn" onclick="window.location.href='{{ url_for('main.myorders')}}'">Active/Pending Orders</button>
            <button onclick="window.location.href='{{ url_for('main.completed_order') }}'">Order History</button>
            <button  class="btn chat-btn" onclick="window.location.href='{{ url_for('main.cancelled_orders') }}'">Cancelled Order</button>
        </div>

        </section>


        <!-- Active Orders -->
        <section class="order-list" id="active-orders">
            {%for order in orders%}
            <div class="order-card">
                <h3>Oder ID: {{order.id}}</h3>

                <p>Dest: {{order.location}}</p>
                <p>Order Date:{{order.create_at.strftime('%Y - %m - %d @ %H:%M')}}</p>
            </div>
            {%endfor%}
            <!-- Repeat order-card for more orders -->
        </section>

        <!-- Completed Orders -->

    </main>

    <script src="orders.js"></script>
</body>

</html>
