<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - VitalWay Pharmacy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/productlist.css') }}">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

.actions {

    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.actions .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.actions .btn:hover {
    background-color: #45a049;
}

    </style>
</head>
<body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/678904ce825083258e066642/1ihnjlinu';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <header>
        <div class="logo">
            <a href="/">Pharmacy Logo</a>
        </div>
        <div class="search-bar">
                       <form id='searchForm' action="{{ url_for('main.search', page_num=1) }}" method="post">
            {{ form2.hidden_tag() }}
            {{form2.keyword}}
          <button type="submit" id="searchButton">
            <i class="fas fa-search"></i> <!-- Font Awesome search icon -->
        </button>
            </form>
        </div>
        <button  class="btn chat-btn" onclick="window.location.href='{{ url_for('main.home')}}'">
            Home</button>
        <div class="user-actions">

             <a href="{{ url_for('main.cart') }}" >
                 <span class="cart-icon">
                     <i class="fas fa-shopping-cart">
                     <sup>{{total_count}}</sup>
                     </i>
                 </span>
</a>
        </div>
    </header>


<div class="container">
     <div class="d-flex justify-content-between mb-4">
        <h1>Pharmacy Store - Products</h1>

    </div>

    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">
            <img class="image-top" src="{{ url_for('static', filename='css/images/products/'+ product.pictures) }}" alt="{{ product.name }}">
            <div class="product-name">{{ product.product_name }}</div>
            <div class="product-price">M{{ product.price }}</div>
            <div class="product-description"><p>{{ product.description }}</p></div>
            <div class="actions">
                <button value={{product.id}} onclick="window.location.href='{{ url_for('main.add_to_cart', item_id=product.id)}}'" class='btn chat-btn' type="submit">Add To Cart
              </button>

            </div>

        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_num > 1 %}
        <a href="{{ url_for('main.menu', page_num=page_num - 1) }}">Previous</a>
        {% endif %}

        <span>Page {{ page_num }} of {{ total_pages }}</span>

        {% if page_num < total_pages %}
        <a href="{{ url_for('main.menu', page_num=page_num + 1) }}">Next</a>
        {% endif %}
    </div>
</div>

</body>
</html>
