<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non-Admin Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminstyles.css') }}">
</head>
<body>
<header>
            <button  class="btn chat-btn" onclick="window.location.href='{{ url_for('admin.adminpage')}}'">
            Dashboard</button>
</header>
    <div class="container">

        <h1>Non-Admin Users</h1>

        <!-- Display table of non-admin users -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>

                </tr>
            </thead>
            <tbody>
                {% for user in non_admin_users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">No non-admin users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
