<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Product Display</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/adminprods.css') }}">

</head>
<body>

<h1>Admin Product Display</h1>
            <a class='view-details-btn' href="{{ url_for('admin.addproducts')}}">Add More</a>



<table class="product-table">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Description</th>
        <th>Quantity</th>
      <th>Price</th>
      <th>Stock Status</th>
        <th>Action</th>
    </tr>
  </thead>
     {%for product in product%}
  <tbody>

  <!-- Add more rows as needed -->
  <td>{{product.id}}</td>
  <td>{{product.productname}}</td>
  <td>{{product.description}}</td>
  <td>{{product.quantity}}</td>
  <td>{{product.price}}</td>
  <td>{{status}}</td>
  <td>
      <form action="{{url_for('admin.add_products', item_id=product.id)}}" method="POST">
         <button value={{product.id}} class='view-details-btn' type="submit">+
         </button>
      </form>

      <form action="{{url_for('admin.remove_from_products', item_id=product.id)}}" method="POST">
         <button value={{product.id}} class='view-details-btn' type="submit">-
         </button>
      </form>

      <form action="{{url_for('admin.updateproduct', item_id=product.id)}}" method="POST">
         <button value={{product.id}} class='view-details-btn' type="submit">Modify
         </button>
      </form>
  </td>

  </tbody>
    {%endfor%}
</table>

</body>
</html>
