'''
<html>

<canvas id="salesChart"></canvas>

<script>
  fetch('/sales_by_product').then(res=> res.json()).then(data => {
          new Chart(document.getElementById('salesChart'), {
                                                 type: "bar",

                                                 data: {
                                                              labels: data.labels,
                                                              datasets: [
                                                                    {
                                                                        label:'Sales By Product',
                                                                        data: data.data,
                                                                        backgroundColor:'rgba(54,163,235,0.5)',
                                                                        borderColor:'rgba(54, 162, 235, 1)',
                                                                        borderWidth:1}
                                                               ]},

                                                              options:{
                                                                        responsive: true,
                                                              scales{
                                                                        y:{
                                                                            beginAtZero: true
                                                                        }
                                                              }
                                                 }
                    }
          );

  });
</script>
</html>
'''