<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js">
  </script>

</head>
<body>
<header>
        <div class="logo">
            <a href="/">Vitalway Pharmacy</a>
        </div>

        <div class="search-bar">

        </div>
    </header>


    <h1>Top Selling Products by Revenue</h1>
        {{chart|safe}}


<section class="orders-section">
    <h1>Sales Overtime</h1>
        {{chart1|safe}}
</section>

<section class="orders-section">
    <h1>Payment Method Distribution</h1>
        {{chart2|safe}}
</section>

<section class="orders-section">
    <h1>Candle sticks</h1>
        {{chart3|safe}}
</section>



</body>
</html>