<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Dashboard for managing users' orders in the Pharmacy Store.">
    <title>Manage Orders - Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminstyle.css') }}">
</head>
<body>
    <!-- Main Content Section -->
    <div class="main-content">
        <header>
            <h1>Manage Orders</h1>
        </header>

        <!-- Orders Table -->
        <section class="orders-section">

      <h2>User Order</h2>
        <h2>Order Id: {{user_order.id}} </h2>
        <p> Total Cost: M{{ total }} </p>
       <p>On {{user_order.create_at.strftime('%Y - %m - %d @ %H:%M')}}</p>
      <div class="table-responsive small">
        <table class="orders-table ">
          <thead>

            <tr>

                        <th>Prod. ID</th>
                        <th>productname</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
            </tr>

          </thead>
          <tbody>

                   {%for item in user_order.order_items%}
                    <tr>

                        <td>{{item.product.id}}</td>
                        <td>{{item.product.productname}}</td>
                        <td>{{item.product.description}}</td>
                        <td>{{item.quantity}}</td>

                        <td> M{{item.product.price}}</td>


                    </tr>
                   {%endfor%}
          </tbody>
        </table>

      </div>

        </section>
    </div>
</body>
</html>
